.line {
  --size: 10%;
  --color-light: #DEE6F5;
  --color-dark: #000;
  height: 6px;
  width: 160px;
  border-radius: 12px;
  background-image: linear-gradient(
    to right,
    var(--color-dark) var(--size),
    var(--color-light) var(--size) 100%
  );
}
