.container {
    background: var(--content-bacground-theme1);
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.child {
    width: 100px;
    height: 100px;
    background: red;
    position: absolute;
    top: 0;
}