@font-face {
  font-family: SanFrancisco;
  font-style: normal;
  font-weight: 400;
  src: url('./SF-Pro-Display-Regular.otf') format('opentype');
}

@font-face {
  font-family: SanFrancisco;
  font-style: normal;
  font-weight: 500;
  src: url('./SF-Pro-Display-Medium.otf') format('opentype');
}
