.container {
  background: var(--text-color-light1);
}

.wrapper {
  max-width: var(--max-laptop-width);
  width: 100%;
  margin: 0 auto;
  padding: 12px 0;
  display: flex;
  justify-content: space-between;
}

.leftContainer,
.progressContainer,
.rightContainer,
.avatarContainer,
.avatarContainer,
.ownerContainer {
  display: flex;
}

.progressContainer {
  gap: 57px;
  margin-left: 66px;
}

.avatar {
  width: 40px;
  height: 40px;
  background: url('../../assets/avatar.svg') no-repeat center/cover;
  border-radius: 50%;
}

.rightContainer {
  align-items: center;
}

.owner {
  font: 15px/21px 'SanFrancisco';
  font-weight: 400;
  color: var(--text-color-light-grey);
}

.avatarContainer {
  align-items: center;
  gap: 10px;
}

.ownerContainer {
  align-items: center;
  margin-right: 50px;
  margin-left: 65px;
  gap: 10px;
}
