.container {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  max-width: 300px;
  width: 100%;
  padding: 10px 34px;
  border-radius: 48px;
  right: 10px;
  bottom: 5px;
}

.container_active {
  border: 1px solid #002cfb;
}

.searchIconContainer {
  position: absolute;
  left: 10px;
}

.input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
}

.input::placeholder {
  font: 14px/20px 'SanFrancisco';
  font-weight: 500;
  color: var(--text-color-grey);
}

.errorMessage {
  display: none;
  position: absolute;
  bottom: -25px;
  left: 65px;
}

.closeButton {
  display: none;
  position: absolute;
  background: transparent;
  border: none;
  right: 10px;
  cursor: pointer;
}

.closeButton_active {
  display: block;
}
