@import url('./fonts/SF_Pro_Display.css');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --backround-color-dark: #091336;
  --bacground-color-active: #ffd500;
  --text-color-light: 255, 255, 255;
  --text-color-light1: #ffffff;
  --text-color-header-dark: #122945;
  --text-color-light-grey: #899CB1;
  --button-backgroud-default: #002cfb;
  --button-backgroud-hover: #0024cb;
}
